h5 {
  margin: 0 0 1rem 0;
}

.App {
  margin: auto;
  height: 100vh;
  display: flex;
  background: #fff;
}

.wrapper {
  text-align: center;
  margin: auto;
  border-radius: 5px;
  padding: 2rem;
  background: #f9f9f9;
}

.selected-container {
  text-align: left;
}

.selected-container p {
  margin: 0;
}
  
.dropdown-container {
  margin-top: 2rem;
  padding: 2rem;
  display: flex;
  gap: 2rem;
  border: 2px solid #eee;
  border-radius: 5px;
}
